<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Home</title>
</head>
<body>
	<main layout:fragment="content" class="container-fluid">

	<div class="page-header">
		<h3>Activity Stream</h3>
	</div>


	<div th:each="activity : ${activityList}" class="activities">

		<div th:switch="${activity.type}">

			<div th:case="project-created-activity"
				class="media project-created-activity">
				<a class="media-left" href="#"> <i
					class="fa fa-plus-square fa-3x"></i>
				</a>
				<div class="media-body">
					<h4 class="media-heading">Project Created</h4><span
						th:text="${activity.account}"> </span>

					<p class="time-activator">
						jbellmann · <span th:text="${activity.created}"></span>
					</p>
				</div>

			</div>

			<div th:case="project-activated-activity"
				class="media project-activated-activity">
				<a class="media-left" href="#"> <i class="fa fa-unlock fa-3x"></i>
				</a>
				<div class="media-body">
					<h4 class="media-heading">Project Activated</h4>
					<p class="time-activator">
						jbellmann · <span th:text="${activity.created}"></span>
					</p>
				</div>
			</div>


			<div th:case="build-started-activity"
				class="media build-started-activity">
				<a class="media-left" href="#"> <i class="fa fa-spinner fa-3x"></i>
				</a>
				<div class="media-body">
					<h4 class="media-heading">Build Started</h4>
					
					<a href="#"><span th:text="${activity.commitID}" /></a> 
					<span th:text="${activity.branch}" /> 
					
					<p class="time-activator">
						jbellmann · <span th:text="${activity.created}"></span>
					</p>
				</div>
			</div>

			<div th:case="build-terminated-activity"
				class="media build-terminated-activity">
				<a class="media-left" href="#"> <i
					class="fa fa-check-square fa-3x"></i>
				</a>
				<div class="media-body">
					<h4 class="media-heading">Build Terminated</h4>
					<p class="time-activator">
						jbellmann · <span th:text="${activity.created}"></span>
					</p>
				</div>
			</div>

			<p th:case="*">fail</p>
		</div>


	</div>

	</main>
</body>
</html>