<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">

<head>
    <title>Project</title>
</head>
<body>
    <main layout:fragment="content" class="container-fluid">

        <h3 th:text="${account} + '/' + ${project}">klaus/aproject</h3>

        <h4 th:if="${build}" th:text="${build.id} +'/' + ${build.state}"></h4>

    </main>
</body>
</html>