<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">

<head>
    <title>Project</title>

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        function updateTable() {
            $.ajax({
                url : /*[[${project} + '/update']]*/,
                success : function(data) {
                    $('#result').html(data);
                }
            });
        }
    /*]]>*/
    </script>

    <script type="text/javascript">
        var intervalId = 0;
        intervalId = setInterval(updateTable, 5000);
    </script>
</head>
<body>
    <main layout:fragment="content" class="container">
        <h3><a href="#" th:href="@{'/' + ${account}}" th:text="${account}">Owner</a> / <a href="#" th:href="@{'/' + ${account} + '/' + ${project}}" th:text="${project}">Project</a></h3>

        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active" th:class="(${tabactive} == 'last')? 'active'"><a href="#" th:href="@{'/' + ${account} + '/' + ${project}}">Last Builds</a></li>
                <li role="presentation" th:class="(${tabactive} == 'history')? 'active'"><a href="#" th:href="@{'/' + ${account} + '/' + ${project} + '?tab=history'}">History</a></li>
            </ul>
            
                <!-- th:each="project : ${projects}" -->
                <!-- th:href="@{'/' + ${account} + '/' + ${project.name}}" -->
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">78</h4>
                            </div>
                            <div class="panel-body">
                                Was SUCCESS
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="row">
            <div id="result">
                <div th:fragment="projectBuilds">
                    <div th:unless="${#lists.isEmpty(builds)}" th:each="build : ${builds}" >
                        <p class="bg-info" th:text="${build.id} +'/' + ${build.state}">SUCCESS</p>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>