<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">

<head>
    <title>New Project</title>
</head>
<body>
    <main layout:fragment="content" class="container">
        <div class="row">
            <h3><a href="#" th:href="@{'/' + ${account}}" th:text="${account}">Owner</a></h3>
        </div>
        <div class="row">
            <div class="col-md-offset-4">
                <h3>Create new Project</h3>
            </div>
        </div>
        <!--  -->
        <div class="row">
            <div class="col-md-offset-2 col-md-6">
                <form class="form-horizontal" role="form" method="POST" th:action="@{'/' + ${account}}">
                    <div class="form-group">
                        <label for="name" class="col-md-4 control-label">Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" name="repository" required="required" placeholder="simple" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repository" class="col-md-4 control-label">Repository-Url</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="repository" name="repository" required="required" placeholder="https://github.com/emueller/simple.git" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-md-4 control-label">Repository-Url</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="description" name="repository" required="required" placeholder="https://github.com/emueller/simple.git" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-md-4 control-label">Username</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-4 control-label">Password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary" name="signin">Create</button>
                            
                            <a href="#" th:href="@{'/' + ${account}}" role="button" type="submit" class="btn btn-default" name="cancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>