<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Account</title>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        function updateFinnishedTable() {
            $.ajax({
                url : /*[[${account} + '/finishedBuilds']]*/,
                success : function(data) {
                    $('#finishedResult').html(data);
                }
            });
        }
    /*]]>*/
    /*<![CDATA[*/
        function updateRunningTable() {
            $.ajax({
                url : /*[[${account} + '/runningBuilds']]*/,
                success : function(data) {
                    $('#runningResult').html(data);
                }
            });
        }
    /*]]>*/
    </script>

<script type="text/javascript">
        var finnishedId = 0;
        finnishedId = setInterval(updateFinnishedTable, 5000);
        var runningId = 0;
        runningId = setInterval(updateRunningTable, 5000);
    </script>
</head>
<body>
	<main layout:fragment="content" class="container">
	<div class="page-header">
		<h3>
			<a href="#" th:href="@{'/' + ${account}}" th:text="${account}">Owner</a>
			<a href="#" th:href="@{'/' + ${account} + '?create'}" type="button"
				role="button" class="btn btn-info pull-right">new Project</a>
		</h3>
	</div>


	<div class="list-group" th:each="project : ${projects}">
		<div class="list-group-item">
			<div th:if="${!project.active}">
				<a href="#"
					th:href="@{'/' + ${account} + '/' + ${project.name} + '/activate'}"
					class="btn btn-default pull-right" aria-label="Left Align"> <span
					class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
					activate
				</a>
			</div>
			<a href="#" th:href="@{'/' + ${account} + '/' + ${project.name}}">
				<h4 class="list-group-item-heading" th:text="${project.name}">Project-Name</h4>
				<p class="list-group-item-text">A description should be possible</p>
			</a>
		</div>
	</div>
	</main>
</body>
</html>