<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Layout</title>
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}"/>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" href="../static/css/theme.css" th:href="@{/css/theme.css}" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>


  <script th:inline="javascript">
        var baseUrl = /*[[@{/}]]*/ '../static/';
  </script>
</head>

<body>
    <div class="viewport">
        <!--/* HEADER STARTS HERE */-->
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">SIGGI</a>
                    </div>
                    <!--/* 
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" th:href="@{'/' + ${account}}" class="navbar-link">klaus</a></li>
                        </ul>
                    </div> */-->
                    <!--/* .nav-collapse */-->
                </div>
            </nav>
        </header>

        <!--/* MAIN CONTENT */-->
        <main class="container" layout:fragment="content">
            <div id="footer-push-down"></div>
        </main>

        <!--/* FOOTER STARTS HERE */-->
        <!--/*
        <footer class="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="navbar"></div>
                        &copy; <span th:text="${#calendars.format(#calendars.createToday(),'yyyy')}">2014</span> <a href="http://www.google.de/">SIGMA-Lab</a>, All Rights Reserved. <span
                            id='authentication' sec:authorize="isFullyAuthenticated()"> [<a th:href="@{/logout}">Sign out</a>]
                        </span>
                    </div>
                </div>
            </div>
        </footer> */-->
        <div id="scrim"></div>
    </div>

    <!--/* JAVASCRIPT HERE */-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/docs.min.js" th:src="@{/js/docs.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>

</html>